<!DOCTYPE html>
<html>
<head>
    <title>Calc-U-Later</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Calc U Later!</h1>
    <div class="container">
        <form action="/" method = "post">
            <input type="text" name="first_value" class="input-box" value="<%= @first_value %>" autofocus></input>
            <select name="operator" class="operator-box">
                <option value="add">&plus;</option>
                <option value="min">&minus;</option>
                <option value="div">&divide;</option>
                <option value="mul">&times;</option>
            </select>
            <input type="text" name="second_value" class="input-box" value="<%= @second_value%>"></input>
            <input type="submit" class="input-submit"></input>
        </form>
        <input type="text" class="answer-box" placeholder="Answer" value=<%= @result %>></input>
    </div>
</body>
</html>